<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title> Text Utiles </title>
</head>
<body>
{{ name }} from {{ place }}
<h1>HELLO,Welcom To Text Analyser</h1>
<form action="analyser" method="get">
    <textarea name="text" style="margin: 0px; width: 847px; height: 122px;"></textarea> <br/>
    <input type="checkbox" name="puncremove"> Punctuation Remove <br/>
    <input type="checkbox" name="newlineremove"> New-Line Remove <br/>
    <input type="checkbox" name="uppercase"> Convert To CAPITAL <br/>
    <input type="checkbox" name="extraspace"> Extra Space Remove <br/>
    <input type="checkbox" name="charcount"> Count The Character <br/>
    <button type="submit"> Analyse Text</button>
</form>

<br/>
<!--
<a href="http://127.0.0.1:8000/navigation/">Navigation To sites</a>
        <br/> <a href="http://127.0.0.1:8000/file/"> files Reads </a>
        <br/> <a href="http://127.0.0.1:8000/newlineremover/"> New line Remover</a>
        <br/> <a href="http://127.0.0.1:8000/spaceremover/"> Space Remover </a>
        <br/> <a href="http://127.0.0.1:8000/puncremover/">  punctuation Remover </a>
        <br/> <a href="http://127.0.0.1:8000/captfirst/">  Capital First Character </a>
        <br/> <a href="http://127.0.0.1:8000/about/"> ABOUT </a>
        <br/>
-->
</body>
</html>